  
<ion-header>

  <ion-navbar>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="divisionFilter" (ionChange)="filterDivision($event)">
      <ion-segment-button value="division">
        División
      </ion-segment-button>
      <ion-segment-button value="all">
        Todas Divisiones
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list [virtualScroll]="standings" [approxItemHeight]="'132px'" [headerFn]="getHeader">

        <ion-item-divider color="secondary" *virtualHeader="let header">
            {{header}}
          </ion-item-divider>

        <ion-item *virtualItem="let team">
            <ion-row>
                <ion-col>
                    <h2 primary>{{team.teamName}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center col-3>
                    <h4>Victorias</h4>
                </ion-col>
                <ion-col text-center col-3>
                    <h4>Derrotas</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>Pct</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>PF</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>PA</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>Dif</h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-center>
                    <h4>{{team.wins}}</h4>
                </ion-col>
                <ion-col col-3 text-center>
                    <h4>{{team.losses}}</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>{{team.winningPct}}</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>{{team.pointsFor}}</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>{{team.pointsAgainst}}</h4>
                </ion-col>
                <ion-col text-center>
                    <h4>{{team.pointsDiff}}</h4>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

<!--   <ion-list>
    <ion-item-group *ngFor="let division of allStandings">
      <ion-item-divider color="secondary">
        {{division.divisionName}}
      </ion-item-divider>

      <ion-item *ngFor="let team of division.divisionTeams">

      </ion-item>

    </ion-item-group >
  </ion-list> -->
</ion-content>
